{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<body>
{% block header %}
    <h1>Learnship Tasks</h1>
{% endblock %}

{% block main %}
    <p>Assignment Backend Console</p>
{% endblock %}

{% block footer %}
    <footer>Credits & copyright Nadeem Bari Mohammed.</footer>
{% endblock %}
</body>
